<config>
    <modules>
        <Ccc_Demo>
            <version>1.0.0.0</version>                
        </Ccc_Demo>
    </modules>
    <frontend>
        <routers>
            <demo>
                <use>standard</use>
                <args>
                    <module>Ccc_Demo</module>
                    <frontName>demo</frontName>
                </args>
            </demo>
        </routers>
    </frontend>
    <global>
        <resources>
            <demo_setup>
                <setup>
                    <module>Ccc_Demo</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </demo_setup>
            <demo_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </demo_write>
            <demo_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </demo_read>
        </resources>
        <models>
            <demo>
                <class>Ccc_Demo_Model</class>
                <resourceModel>demo_resource</resourceModel>
            </demo>
            <demo_resource>
                <class>Ccc_Demo_Model_Resource</class>
                <entities>
                    <demo>
                        <table>eav_attribute</table>
                    </demo>
                </entities>
            </demo_resource>
        </models>
        <!-- <resources>
             <demo_setup>
                 <setup>
                 <module>Ccc_Demo</module>
                 </setup>
             </demo_setup>

        <demo_write>
            <connection>
                <use>core_write</use>
            </connection>
        </demo_write>

        <demo_read>
            <connection>
                <use>core_read</use>
            </connection>
        </demo_read>
         </resources> -->
        <blocks>
            <demo>
                <class>Ccc_Demo_Block</class>
            </demo>
        </blocks>
        <helpers>
            <demo>
                <class>Ccc_Demo_Helper</class>
            </demo>
        </helpers>
        
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <ccc_demo before="Mage_Adminhtml">Ccc_Demo_Adminhtml</ccc_demo>
                    </modules>
                </args>
            </adminhtml>
        </routers>
  </admin>
  <layout>
      <updates>
        <demo>
          <file>demo.xml</file>
        </demo>
      </updates>
    </layout>
</config>
