<?xml version="1.0"?>
<config>
    <modules>
        <Sonali_Idx>
            <version>0.1.0</version>
        </Sonali_Idx>
    </modules>
     <frontend>
        <layout>
            <updates>
                <idx module="Sonali_Idx">
                    <!-- <file>Sonali_Product.xml</file> -->
                </idx>
            </updates>
        </layout>
    </frontend>
    <global>
        <models>
            <idx>
                <class>Sonali_Idx_Model</class>
                <resourceModel>idx_resource</resourceModel>
            </idx>
            <idx_resource>
                <class>Sonali_Idx_Model_Resource</class>
                <entities>
                    <idx>
                        <table>import_product_idx</table>
                    </idx>
                </entities>
            </idx_resource>
        </models>
        <resources>
            <idx_setup>
                <setup>
                    <module>Sonali_Idx</module>
                    <class>Mage_Core_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </idx_setup>
            <idx_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </idx_write>
            <idx_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </idx_read>
        </resources>
        <blocks>
            <idx>
                <class>Sonali_Idx_Block</class>
            </idx>
            <idx>
                <adminhtml_idx>Sonali_Idx_Block_Adminhtml_Idx</adminhtml_idx>
            </idx>
        </blocks>
        <helpers>
            <idx>
                <class>Sonali_Idx_Helper</class>
            </idx>
        </helpers>
    </global>
    <admin>
        <routers>
            <idx>
                <use>admin</use>
                <args>
                    <module>Sonali_Idx</module>
                    <frontName>idx</frontName>
                </args>
            </idx>
        </routers>
    </admin>
</config>