<config>
    <modules>
        <Ccc_Product>
            <version>1.0.0.0</version>                
        </Ccc_Product>
    </modules>
    <frontend>
        <routers>
            <product>
                <use>standard</use>
                <args>
                    <module>Ccc_Product</module>
                    <frontName>product</frontName>
                </args>
            </product>
        </routers>
    </frontend>
    <global>
        <resources>
            <product_setup>
                <setup>
                    <module>Ccc_Product</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </product_setup>
            <product_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </product_write>
            <product_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </product_read>
        </resources>
        <models>
            <product>
                <class>Ccc_Product_Model</class>
                <resourceModel>product_resource</resourceModel>
            </product>
            <product_resource>
                <class>Ccc_Product_Model_Resource</class>
                <entities>
                    <product>
                        <table>product</table>
                    </product>
                </entities>
            </product_resource>
        </models>
        <!-- <resources>
             <product_setup>
                 <setup>
                 <module>Ccc_Product</module>
                 </setup>
             </product_setup>

        <product_write>
            <connection>
                <use>core_write</use>
            </connection>
        </product_write>

        <product_read>
            <connection>
                <use>core_read</use>
            </connection>
        </product_read>
         </resources> -->
        <blocks>
            <product>
                <class>Ccc_Product_Block</class>
            </product>
        </blocks>
        <helpers>
            <product>
                <class>Ccc_Product_Helper</class>
            </product>
        </helpers>
        
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <ccc_product before="Mage_Adminhtml">Ccc_Product_Adminhtml</ccc_product>
                    </modules>
                </args>
            </adminhtml>
        </routers>
  </admin>
  <layout>
      <updates>
        <product>
          <file>product.xml</file>
        </product>
      </updates>
    </layout>
</config>
