<config>
    <modules>
        <Sonali_Collection>    
            <version>1.0.0</version>
        </Sonali_Collection>
    </modules>
    <frontend>
        <!-- <routers>
            <Collection>
                <use>standard</use>
                <args>
                    <module>Sonali_Collection</module>
                    <frontName>collection</frontName>
                </args>
            </Collection>
        </routers> -->
        <layout>
            <updates>
                <Collection module="Sonali_Collection">
                    <file>Sonali_Collection.xml</file>
                </Collection>
            </updates>
        </layout>
    </frontend>
    <global>
        <models>
            <collection>
                <class>Sonali_Collection_Model</class>
                <resourceModel>collection_resource</resourceModel>
            </collection>
            <collection_resource>
                <class>Sonali_Collection_Model_Resource</class>
                <deprecatedNode>collection_mysql4</deprecatedNode>
                <entities>
                    <collection>
                        <table>collection</table>
                    </collection>
                    <collection_address>
                        <table>collection_address</table>
                    </collection_address>
                </entities>
            </collection_resource>
        </models>
        <resources>
            <collection_setup>
                <setup>
                    <module>Sonali_Collection</module>
                    <class>Mage_Core_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </collection_setup>
            <collection_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </collection_write>
            <collection_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </collection_read>
        </resources>
        <blocks>
            <collection>
                <class>Sonali_Collection_Block</class>
            </collection>
            <adminhtml>
                <rewrite>
                    <catalog_product_edit_tab_attributes>Sonali_Collection_Block_Adminhtml_Catalog_Product_Edit_Tab_Attributes</catalog_product_edit_tab_attributes>
                </rewrite>
            </adminhtml>    
        </blocks>
        <helpers>
           <collection>
                  <class>Sonali_collection_Helper</class>
            </collection>
        </helpers>
        <events>
            <adminhtml_catalog_product_edit_prepare_form>
                <observers>
                    <uday_collection_block_prepare_form>
                        <class>collection/observer</class>
                        <method>prepareCatalogForm</method>
                    </uday_collection_block_prepare_form>
                </observers>
            </adminhtml_catalog_product_edit_prepare_form>
        </events>
    </global>
    <admin>
        <!-- <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Sonali_Collection>Sonali_Collection_Adminhtml</Sonali_Collection>
                    </modules>
                </args>
            </adminhtml>
        </routers> -->
        <routers>
            <Collection>
                <use>admin</use>
                <args>
                    <module>Sonali_Collection</module>
                    <frontName>collection</frontName>
                </args>
            </Collection>
        </routers>
         <layout>
            <updates>
                <collection>
                    <file>collection.xml</file>
                </collection>
            </updates>
        </layout>
    </admin>
</config>