<?xml version="1.0"?>
<config>
    <modules>
        <Ccc_Practice>
            <version>0.1.0</version>
        </Ccc_Practice>
    </modules>
     <frontend>
        <layout>
            <updates>
                <practice module="Ccc_Practice"></practice>
            </updates>
        </layout>
        <routers>
            <practice>
                <use>standard</use>
                <args>
                    <module>Ccc_Practice</module>
                    <frontName>practice</frontName>
                </args>
            </practice>
        </routers>
    </frontend>
    <global>
        <models>
            <practice>
                <class>Ccc_Practice_Model</class>
                <resourceModel>practice_resource</resourceModel>
            </practice>
            <practice_resource>
                <class>Ccc_Practice_Model_Resource</class>
                <entities>
                    <practice>
                        <table>practice</table>
                    </practice>
                </entities>
            </practice_resource>
        </models>
        <blocks>
            <practice>
                <class>Ccc_Practice_Block</class>
            </practice>
        
        </blocks>
        <helpers>
            <practice>
                <class>Ccc_Practice_Helper</class>
            </practice>
        </helpers>
    </global>
    <admin>
        <routers>
            <practice>
                <use>admin</use>
                <args>
                    <module>Ccc_Practice</module>
                    <frontName>practice</frontName>
                </args>
            </practice>
            <!-- <adminhtml>
                <args>
                    <modules>
                        <ccc_practice before="Mage_Adminhtml_Catalog">Ccc_Practice_Adminhtml</ccc_practice>
                    </modules>
                </args>
            </adminhtml> -->
        </routers>
    </admin>
    
</config>