<?xml version="1.0"?>
<config>
    <modules>
        <Sonali_Brand>
            <version>0.3.0</version>
        </Sonali_Brand>
    </modules> 
    <frontend>
        <routers>
            <brand>
                <use>standard</use>
                <args>
                    <module>Sonali_Brand</module>
                    <frontName>brand</frontName>
                </args>
            </brand>
        </routers>
        <layout>
            <updates>
                <brand module="Sonali_Brand">
                    <file>brand.xml</file>
                </brand>
            </updates>
        </layout>
    </frontend>   
    <global>
        <events>
            <brand_save_after>
                <observers>
                    <brand>
                        <class>Sonali_Brand_Model_Observer</class>
                        <method>generateBrandUrlRewrite</method>
                    </brand>
                </observers>
            </brand_save_after>
        </events>
        <resources>
            <brand_setup>
                <setup>
                    <module>Sonali_Brand</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </brand_setup>
            <brand_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </brand_write>
            <brand_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </brand_read>
        </resources>
        <fieldsets>
            <catalog_product>
                <brand>
                    <brand_attribute>
                        <is_global>0</is_global>
                        <frontend_input>select</frontend_input>
                        <frontend_label>Brand Attribute</frontend_label>
                        <source_model>sonali_brand/source_model</source_model>
                        <backend_type>int</backend_type>
                        <is_required>0</is_required>
                        <apply_to>simple,configurable,virtual,bundle,downloadable</apply_to>
                    </brand_attribute>
                </brand>
            </catalog_product>
        </fieldsets>
        <models>
            <brand>
                <class>Sonali_Brand_Model</class>
                <resourceModel>brand_resource</resourceModel>
            </brand>
            <brand_resource>
                <class>Sonali_Brand_Model_Resource</class>
                <deprecatedNode>brand_mysql4</deprecatedNode>
                <entities>
                    <brand>
                        <table>brand</table>
                    </brand>
                    <brand_address>
                        <table>brand_address</table>
                    </brand_address>
                    <brand_price>
                        <table>brand_price</table>
                    </brand_price>
                </entities>
            </brand_resource>
        </models>
        <blocks>
            <brand>
                <class>Sonali_Brand_Block</class>
            </brand>
        </blocks>
        <helpers>
            <brand>
                <class>Sonali_Brand_Helper</class>
            </brand>
        </helpers>
    </global>
    <admin>
        <routers>
            <brand>
                <use>admin</use>
                <args>
                    <module>Sonali_Brand</module>
                    <frontName>brand</frontName>
                </args>
            </brand>
        </routers>
    </admin>
</config>