<config>
    <modules>
        <Sonali_Brand>
            <version>3.0.0.0</version>                
        </Sonali_Brand>
    </modules>
    <frontend>
        <routers>
            <brand>
                <use>standard</use>
                <args>
                    <module>Sonali_Brand</module>
                    <frontName>brand</frontName>
                </args>
            </brand>
        </routers>
        <layout>
            <updates>
                <brand>
                    <file>brand.xml</file>
                </brand>
            </updates>
        </layout>
    </frontend>
    <global>
        <resources>
            <brand_setup>
                <setup>
                    <module>Sonali_Brand</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </brand_setup>
            <brand_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </brand_write>
            <brand_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </brand_read>
        </resources>
        <fieldsets>
            <catalog_eavmgmt>
                <brand>
                    <brand_attribute>
                        <is_global>0</is_global>
                        <frontend_input>select</frontend_input>
                        <frontend_label>Brand Attribute</frontend_label>
                        <source_model>sonali_brand/source_model</source_model>
                        <backend_type>int</backend_type>
                        <is_required>0</is_required>
                        <apply_to>simple,configurable,virtual,bundle,downloadable</apply_to>
                    </brand_attribute>
                </brand>
            </catalog_eavmgmt>
        </fieldsets>
        <models>
            <brand>
                <class>Sonali_Brand_Model</class>
                <resourceModel>brand_resource</resourceModel>
            </brand>
            <brand_resource>
                <class>Sonali_Brand_Model_Resource</class>
                <entities>
                    <brand>
                        <table>brand</table>
                    </brand>
                </entities>
            </brand_resource>
        </models>
        <blocks>
            <brand>
                <class>Sonali_Brand_Block</class>
            </brand>
        </blocks>
        <helpers>
            <brand>
                <class>Sonali_Brand_Helper</class>
            </brand>
        </helpers>
        
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <ccc_brand before="Mage_Adminhtml">Sonali_Brand_Adminhtml</ccc_brand>
                    </modules>
                </args>
            </adminhtml>
        </routers>
  </admin>
  <layout>
      <updates>
        <brand>
          <file>brand.xml</file>
        </brand>
      </updates>
    </layout>
</config>
