<?xml version="1.0" encoding="UTF-8"?>
<config>
	<modules>
		<Sonali_Sonali>
			<version>1.0.2</version>
		</Sonali_Sonali>
	</modules>
	<global>
		<blocks>
			<sonali>
				<class>Sonali_Sonali_Block</class>
			</sonali>
		</blocks>
		<helpers>
			<sonali>
				<class>Sonali_Sonali_Helper</class>
			</sonali>
		</helpers>
		<models>
			<sonali>
				<class>Sonali_Sonali_Model</class>
				<resourceModel>sonali_resource</resourceModel>
			</sonali>
			<sonali_resource>
				<class>Sonali_Sonali_Model_Resource</class>
				<entities>
	                <sonali>
	                    <table>sonali</table>
	                </sonali>
	                <sonali_datetime>
	                	<table>sonali_datetime</table>
		            </sonali_datetime>
		            <sonali_decimal>
		                <table>sonali_decimal</table>
		            </sonali_decimal>
		            <sonali_int>
		                <table>sonali_int</table>
		            </sonali_int>
		            <sonali_text>
		                <table>sonali_text</table>
		            </sonali_text>
		            <sonali_varchar>
		                <table>sonali_varchar</table>
		            </sonali_varchar>
		            <sonali_char>
		                <table>sonali_char</table>
		            </sonali_char>
		            <eav_attribute>
                        <table>sonali_eav_attribute</table>
                    </eav_attribute>
		        </entities>
			</sonali_resource>
		</models>
		<resources>
			<sonali_setup>
				<setup>
					<module>Sonali_Sonali</module>
					<class>Sonali_Sonali_Model_Resource_Setup</class>
				</setup>
			</sonali_setup>
		</resources>
	</global>
	<adminhtml>
		<menu>
			<sonali>
				<title>Sonali</title>
				<sort_order>120</sort_order>
				<children>
					<sonali>
						<title>Manage Sonali</title>
						<sort_order>100</sort_order>
						<action>sonali/Adminhtml_Sonali</action>
					</sonali>
					<sonali_attribute>
						<title>Manage Attribute</title>
						<sort_order>100</sort_order>
						<action>sonali/Adminhtml_Sonali_Attribute</action>
					</sonali_attribute>
					<sonali_set>
						<title>Manage Attribute set</title>
						<sort_order>100</sort_order>
						<action>sonali/Adminhtml_Sonali_Set</action>
					</sonali_set>
				</children>
			</sonali>
		</menu>
		<layout>
			<updates>
				<sonali>
					<file>sonali.xml</file>
				</sonali>
			</updates>
		</layout>
	</adminhtml>
	<admin>
		<routers>
			<sonali>
				<use>admin</use>
				<args>
					<module>Sonali_Sonali</module>
					<frontName>sonali</frontName>
				</args>
			</sonali>
		</routers>
	</admin>
</config>