<config>
    <modules>
        <Sonali_Sonali>
            <version>0.1.0</version>                
        </Sonali_Sonali>
    </modules>
    <frontend>
        <routers>
            <sonali>
                <use>standard</use>
                <args>
                    <module>Sonali_Sonali</module>
                    <frontName>sonali</frontName>
                </args>
            </sonali>
        </routers>
        <layout>
            <updates>
                <sonali>
                    <file>sonali.xml</file>
                </sonali>
            </updates>
        </layout>
    </frontend>
    <global>
        <resources>
            <sonali_setup>
                <setup>
                    <module>Sonali_Sonali</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </sonali_setup>
            <sonali_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </sonali_write>
            <sonali_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </sonali_read>
        </resources>
        <models>
            <sonali>
                <class>Sonali_Sonali_Model</class>
                <resourceModel>sonali_resource</resourceModel>
            </sonali>
            <sonali_resource>
                <class>Sonali_Sonali_Model_Resource</class>
                <deprecatedNode>sonali_mysql4</deprecatedNode>
                <entities>
                    <sonali>
                        <table>sonali</table>
                    </sonali>
                    <!-- <sonali_address>
                        <table>sonali_address</table>
                    </sonali_address>
                    <sonali_price>
                        <table>sonali_price</table>
                    </sonali_price>  --> 
                </entities>
            </sonali_resource>
        </models>
        <blocks>
            <sonali>
                <class>Sonali_Sonali_Block</class>
            </sonali>
        </blocks>
        <helpers>
            <sonali>
                <class>Sonali_Sonali_Helper</class>
            </sonali>
        </helpers>
        
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <sonali_sonali before="Mage_Adminhtml">Sonali_Sonali_Adminhtml</sonali_sonali>
                    </modules>
                </args>
            </adminhtml>
        </routers>
  </admin>
  
</config>
