<?xml version="1.0" ?>
<config>
    <modules>
        <Sonali_Eavmgmt>    
            <version>1.0.0</version>
        </Sonali_Eavmgmt>
    </modules>
    <frontend>
        <layout>
            <updates>
                <Eavmgmt module="Sonali_Eavmgmt">
                    <file>Sonali_Eavmgmt.xml</file>
                </Eavmgmt>
            </updates>
        </layout>
    </frontend>
    <global>
        <resources>
            <eavmgmt_setup>
                <setup>
                    <module>Sonali_Eavmgmt</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </eavmgmt_setup>
            <eavmgmt_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </eavmgmt_write>
            <eavmgmt_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </eavmgmt_read>
        </resources>
        <models>
            <eavmgmt>
                <class>Sonali_Eavmgmt_Model</class>
                <resourceModel>eavmgmt_resource</resourceModel>
            </eavmgmt>
            <eavmgmt_resource>
                <class>Sonali_Eavmgmt_Model_Resource</class>
                <deprecatedNode>eavmgmt_mysql4</deprecatedNode>
                <entities>
                    <eavmgmt>
                        <table>eav_attribute</table>
                    </eavmgmt>
                </entities>
            </eavmgmt_resource>
        </models>
        <blocks>
            <eavmgmt>
                <class>Sonali_Eavmgmt_Block</class>
            </eavmgmt>
        </blocks>
        <helpers>
           <eavmgmt>
                  <class>Sonali_eavmgmt_Helper</class>
            </eavmgmt>
        </helpers>
    </global>
    <admin>
        <routers>
            <Eavmgmt>
                <use>admin</use>
                <args>
                    <module>Sonali_Eavmgmt</module>
                    <frontName>eavmgmt</frontName>
                </args>
            </Eavmgmt>
        </routers>
         <layout>
            <updates>
                <eavmgmt>
                    <file>eavmgmt.xml</file>
                </eavmgmt>
            </updates>
        </layout>
    </admin>
</config>