<config>
    <modules>
        <Ccc_Salesman>
            <version>1.0.0.0</version>                
        </Ccc_Salesman>
    </modules>
    <frontend>
        <routers>
            <salesman>
                <use>standard</use>
                <args>
                    <module>Ccc_Salesman</module>
                    <frontName>salesman</frontName>
                </args>
            </salesman>
        </routers>
        <layout>
            <updates>
                <salesman>
                    <file>salesman.xml</file>
                </salesman>
            </updates>
        </layout>
    </frontend>
    <global>
        <resources>
            <salesman_setup>
                <setup>
                    <module>Ccc_Salesman</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </salesman_setup>
            <salesman_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </salesman_write>
            <salesman_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </salesman_read>
        </resources> 
        <models>
            <salesman>
                <class>Ccc_Salesman_Model</class>
                <resourceModel>salesman_resource</resourceModel>
            </salesman>
            <salesman_resource>
                <class>Ccc_Salesman_Model_Resource</class>
                <deprecatedNode>salesman_mysql4</deprecatedNode>
                <entities>
                    <salesman>
                        <table>salesman</table>
                    </salesman>
                    <salesman_address>
                        <table>salesman_address</table>
                    </salesman_address>
                    <salesman_price>
                        <table>salesman_price</table>
                    </salesman_price>  
                </entities>
            </salesman_resource>
        </models>
        <blocks>
            <salesman>
                <class>Ccc_Salesman_Block</class>
            </salesman>
        </blocks>
        <helpers>
            <salesman>
                <class>Ccc_Salesman_Helper</class>
            </salesman>
        </helpers>
        
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <ccc_salesman before="Mage_Adminhtml">Ccc_Salesman_Adminhtml</ccc_salesman>
                    </modules>
                </args>
            </adminhtml>
        </routers>
  </admin>
  
</config>
